<div class="napa">
  <h1>Napa Winery</h1>

  <input id="itinerary_id" type="hidden" name="itinerary_id" value="<%= @itinerary_id %>">

  <div class="wineries">
  <% @wineries.businesses.each do |winery| %>
    <div class="winery">
      <input class="checkbox" type="checkbox" name="selected_winery">
      <h3 class="winery_name"><%= winery.name %></h3>
      <p class="review_count"><%= winery.review_count %></p>
      <p class="image_url"><%= winery.snippet_image_url %><p>
      <a class="yelp_url"><%= winery.url %><p>
      <p class="address"><%= winery.location.display_address.join("") %><p>
      <br>
    </div>
  <% end %>
  <a href="/itineraries/<%= @itinerary_id %>"><button type="button">Click here when done with selection</button></a>
  </div>
</div>
